[submodule "external/epic-kitchens-100-annotations"]
	path = external/epic-kitchens-100-annotations
	url = https://github.com/epic-kitchens/epic-kitchens-100-annotations.git
[submodule "external/epic-kitchens-55-annotations"]
	path = external/epic-kitchens-55-annotations
	url = https://github.com/epic-kitchens/epic-kitchens-55-annotations.git
